/* .container{
   margin: 0px 40px;
} */
 .logo{
    margin-left: 30px;
 };
ul li a:hover{
    color: yellow;
}
.menu-link {
    text-decoration: none;
    color: white;
    transition: color 1s;
}

.menu-link:hover {
    color: yellow;
}
/* card*/
.card {
    position: relative;
    width: 350px; /* Ensure the card width matches the image width */
    height: 350px; /* Ensure the card height matches the image height */
}

.card-img-top {
    border-radius: 15px;
    padding: 20px;
    display: block;
}
.overlay {
    position: absolute;
    opacity: 1; /* Đặt opacity mặc định thành 0 */
    top: 105%;
    left: 35%; /* Thay đổi left thành 0 để overlay hiển thị từ trái sang phải */
    right: 0;
    bottom: 0;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(100%);
    transition: opacity 0.5s, transform 0.5s; /* Thêm transition cho opacity và transform */
}
.card:hover .overlay{
    opacity: 1;
    transform: translateY(-400%); /* Dịch chuyển overlay lên trên khi hover */
}


.text {
    color: white;
    font-size: 20px;
    text-align: center;
}
.list-card-coffee{
    display: grid;
    gap: 150px;
    grid-template-columns: repeat(2,1fr);
}
.list-card-sport{
    display: grid;
    gap: 150px;
    grid-template-columns: repeat(2,1fr);
}
